<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
<h1>Create My City</h1>
<p>
    <a th:href="@{/}">
        Back to My City list
    </a>
</p>

<form th:object="${Mycitys}" method="post">
    <table>
        <tr>
            <td>Name City:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Nation Type:</td>
            <td>
                <select th:field="${Mycitys.nation}" th:name="nation">
                    <option th:each="n:${nation}" th:value="${n.id}" th:text="${n.nameNation}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Area City:</td>
            <td><input type="text" th:field="*{area}"/></td>
        </tr>
        <tr>
            <td>Population City:</td>
            <td><input type="text" th:field="*{population}"/></td>
        </tr>
        <tr>
            <td>GDP City:</td>
            <td><input type="text" th:field="*{gdp}"/></td>
        </tr>
        <tr>
            <td>Description City:</td>
            <td><textarea type="text" th:field="*{description}"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create My City"></td>
        </tr>
    </table>
</form>
</body>
</html>