<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
<h1>Delete City</h1>
<p>
    <a th:href="@{/}">
        Back to City list
    </a>
</p>

<form  method="post">
    <input type="hidden" name="id" th:field="${deleteMycity.id}">
    <table>
        <tr>
            <td>Name City:</td>
            <td th:text="${deleteMycity.name}"></td>
        </tr>
        <tr>
            <td>Nation:</td>
            <td th:text="${deleteMycity.nation}"></td>
        </tr>
        <tr>
            <td>Area City:</td>
            <td th:text="${deleteMycity.area}"></td>
        </tr>
        <tr>
            <td>Population City:</td>
            <td th:text="${deleteMycity.population}"></td>
        </tr>
        <tr>
            <td>GDP City:</td>
            <td th:text="${deleteMycity.gdp}"></td>
        </tr>
        <tr>
            <td>Description City:</td>
            <td th:text="${deleteMycity.description}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete City"></td>
        </tr>
    </table>
</form>
</body>
</html>