<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
<h1>Detail My City</h1>
<p>
    <a th:href="@{/listMyCitys}">
        Back to My City list
    </a>
</p>

<form th:object="${showdetailMycity}" method="get">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name City:</td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td>Nation Type:</td>
            <td th:text="*{nation.nameNation}"></td>
        </tr>
        <tr>
            <td>Area City:</td>
            <td th:text="*{area}"></td>
        </tr>
        <tr>
            <td>Population City:</td>
            <td th:text="*{population}"></td>
        </tr>
        <tr>
            <td>GDP City:</td>
            <td th:text="*{gdp}"></td>
        </tr>
        <tr>
            <td>Description City:</td>
            <td th:text="*{description}"></td>
        </tr>
    </table>
</form>
</body>
</html>